.App {
  max-width: 80%;
  margin: auto;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 400px;
  height: auto;
  padding: 10px;
  border-style: solid;
  margin: 10px;
}
